.hero {
  width: 100%;
  height: 93vh;
  text-align: center;
  background-image: url('../../assets/images/bg-pattern.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-background {
  opacity: 0.6;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-logo {
  width: 240px;
  margin-top: calc(50% + 7vh);
}

@media (min-width:600px) {
  .hero-logo {
    margin-top: calc(30% + 7vh);
  }
}